<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="centralaedb.centralaedb_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/faviconcentral"
        android:label="Central AEDB"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Index" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro" >
        </activity>
        <activity android:name=".Inicio" >
        </activity>
        <activity android:name=".Login" >
        </activity>
        <activity android:name=".detalheCadastro" >
        </activity>
    </application>

</manifest>
